.section {
    margin-left: 48px;
}

.h2 {
    font-size:22px;
    text-align: left;

    max-width: 800px;
    margin: auto;
    padding-bottom: 14px;
}

.bookingHostInfo {
    border-top: 1px solid lightgrey;
    padding-top: 8px;
    max-width: 1024px;
    margin-left: 320px;
    text-align: left;
    margin-bottom: 4rem;
}
