.photoBox {
    width: 80%;
    min-height: 150px;
    display:flex;
    justify-content:flex-start;
}
.imageDiv{
    display:flex;
    justify-content:flex-start;
}
.filesInput{
    width: 18%;
}
.confirmButton{
    height: 50px;
    width: 137px;
    margin: 30px;
}
